
*.php
*.html
*.js
*.jpg
*.sql
*.css
projeto2/application/cache/temp/ci_session83one8153jlfsgihpivvb24u5325qp4k
projeto2/application/cache/temp/ci_session1s2amim0vf6tq6so3ntlojlbrti3hajk
*.json
*.svg
*.png
*.ttf
*.eot
*.md
*.zip
*.gif
projeto2/system/.htaccess
*.skel
*.afm
*.ufm
*.LGPL
*.inc
*.ico
*.bmp
projeto2/vendor/dompdf/dompdf/www/test/images/no_extension
*.foo
projeto2/vendor/phenx/php-font-lib/.gitattributes
projeto2/vendor/phenx/php-font-lib/.htaccess
*.otf
*.map
projeto2/vendor/phenx/php-font-lib/www/.htaccess
projeto2/vendor/phenx/php-font-lib/LICENSE
projeto2/application/cache/.htaccess
*.swf
*.xcf
*.htm
projeto2/vendor/dompdf/dompdf/.gitmodules
projeto2/install/vendor/composer/LICENSE
projeto2/install/flag/env
projeto2/application/cache/temp/ci_sessionritgtg2dasun5abeagkpjc7sofdonmb9
